*{
  margin:0
}
.nav-links{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.links{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.links-menu{
  margin-right: 80px;}
  .App-header{
    text-align: center;
    padding:10px
  }
.todo_items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding:30px;
  width:70px;
  border-bottom: 1px solid #cecece;
  font-weight: 10;
  font-size: 12px;
}
.check_item{
  margin-right: 10px;
  font-size: 12px;
}
input [type=checkbox]:focus{
  outline: 0;
}